# Exercício Prático da ANPG

Começamos com importar os pacotes necessários

In [12]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_excel("List of all wells_2022.25.01.xlsx", header=1, index_col="Well Name")

display(data.head(5))

display(data.tail(10))

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Rig Release \n(Data de Abandono do Rig),Spud Date \n(Data de perfuração),Drillers TD \n(Profundidade da perfuração),Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field
Well Name,,,,,,,,,,,,,,,,
45-02,11.911463,-5.182242,00-0001,1,CABGOC,NaT,NaT,670.560000,METERS,NaN,WILDCAT,OFFSHORE,Angola,BCO,BL0,00_BANZALA
72-72,NaN,NaN,00-0002,2,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_MALONGOWEST
72-72ST1,NaN,NaN,00-0002-1,2022-01-02 00:00:00,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_MALONGOWEST
72-72ST2,NaN,NaN,00-0002-2,2022-02-02 00:00:00,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_MALONGOWEST
NUMBI-C07A,11.909918,-5.304124,00-0003,3,CABGOC,NaT,1997-10-02,1469.102493,FEET,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_NUMBI

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Rig Release \n(Data de Abandono do Rig),Spud Date \n(Data de perfuração),Drillers TD \n(Profundidade da perfuração),Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field
Well Name,,,,,,,,,,,,,,,,
HUNGO-04,11.053288,-6.305899,OLD_15-0008,8,ESSO,1999-04-20,1999-03-11,2936.00000,METERS,NaN,APPRAISAL,OFFSHORE,Angola,BBC,BL15,15_HUNGO
55-2X,NaN,NaN,PROP_00-0449,449,CABGOC,NaT,NaT,NaN,METERS,NaN,WILDCAT,OFFSHORE,Angola,BCO,BL0,00_BLOCK00_NOFIELD
129-CC,NaN,NaN,PROP_00-0451,451,CABGOC,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BCO,BL0,00_BLOCK00_NOFIELD
PAPAEIRA-1,NaN,NaN,PROP_01-0013,13,AGIP,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BBC,BL1,01_BLOCK01_NOFIELD
SAFUEIRONORTE-1,NaN,NaN,PROP_01-0014,14,AGIP,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BBC,BL1,01_BLOCK01_NOFIELD
CARAMBOLA-1,13.630000,-11.279444,PROP_09-0024,24,ANGOLA CITIES SERVICE,NaT,NaT,13780.01529,FEET,NaN,NaN,OFFSHORE,Angola,BKW,BL9,09_BLOCK09_NOFIELD
COCONOTE-1,13.550100,11.006600,PROP_09-0025,25,ANGOLA CITIES SERVICE,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BKW,BL9,09_BLOCK09_NOFIELD
JINGUENGA-1,13.641611,11.096472,PROP_09-0028,28,ANGOLA CITIES SERVICE,NaT,NaT,3300.00000,METERS,NaN,NaN,OFFSHORE,Angola,BKW,BL9,09_BLOCK09_NOFIELD
GIRASSOL-02,11.718540,-7.648758,PROP_17-0003,3,ELF,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BBC,BL17,17_BLOCK17_NOFIELD
LEOPARDO-1,NaN,NaN,PROP_25-0004,4,AGIP,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BBE,BL25,25_BLOCK25_NOFIELD

In [14]:
data.rename(columns = {'Rig Release \n(Data de Abandono do Rig)':'Data de Abandono do Rig',
                      'Spud Date \n(Data de perfuração)':'Data de perfuração',
                      'Drillers TD \n(Profundidade da perfuração)':'Profundidade da perfuração'},
            inplace = True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4262 entries, 45-02 to LEOPARDO-1
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Longitude                     3373 non-null   float64
 1   Latitude                      3373 non-null   float64
 2   UWI (Unique Well Identifier)  4262 non-null   object
 3   Well Number                   4262 non-null   object
 4   Operator                      4262 non-null   object
 5   Data de Abandono do Rig       1569 non-null   datetime64[ns]
 6   Data de perfuração            2243 non-null   datetime64[ns]
 7   Profundidade da perfuração    2478 non-null   float64
 8   Units                         3351 non-null   object
 9   Well Type                     468 non-null    object
 10  Initial Class                 4229 non-null   object
 11  Terrains                      4261 non-null   object
 12  Country                       4262 non-null   object
 13  Basin                         4262 non-null   object
 14  Block                         4262 non-null   object
 15  Field                         4254 non-null   object
dtypes: datetime64[ns](2), float64(3), object(11)
memory usage: 566.0+ KB

In [15]:
data.describe()

           Longitude      Latitude  Profundidade da perfuração
count    3373.000000  3.373000e+03                 2478.000000
mean      136.853015 -1.652071e+04                 5210.077601
std      7248.146052  1.128581e+06                 4042.515057
min       -10.984435 -6.489472e+07                    1.000000
25%        11.757340 -7.318450e+00                 2318.825000
50%        11.998719 -6.235941e+00                 3886.000000
75%        12.382667 -5.408686e+00                 7540.014329
max    420966.500000  9.192236e+06                46368.000000

In [17]:
data[data['Profundidade da perfuração']<3]

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field
Well Name,,,,,,,,,,,,,,,,
MAVACOLA-107,11.093,-6.433,15-0299,299,ESSO,NaT,2014-01-01,1.0,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL15,15_MAVACOLA

In [5]:
data.sort_index(ascending=True)

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field
Well Name,,,,,,,,,,,,,,,,
100-01,12.341944,-5.580444,CABS0001,1,CABGOC,1967-12-03,1967-11-28,3437.006299,FEET,NaN,WILDCAT,ONSHORE,Angola,BCO,CABS,CABS_NOFIELD
101-01,12.486833,-5.580194,CABS0034,34,CABGOC,1969-03-24,1969-03-17,2768.004364,FEET,NaN,WILDCAT,ONSHORE,Angola,BCO,CABS,CABS_NOFIELD
103-01X,11.629194,-5.620499,00-0637,637,CABGOC,1998-12-15,1998-11-18,9654.017717,FEET,NaN,WILDCAT,OFFSHORE,Angola,BCO,BL0,00_BLOCK00_NOFIELD
104-01X,11.704433,-5.602957,00-0582,582,CABGOC,1989-08-01,1989-03-25,15243.025950,FEET,NaN,WILDCAT,OFFSHORE,Angola,BCO,BL0,00_KOKONGO
104-02,11.704433,-5.602958,00-0585,585,CABGOC,NaT,1989-11-14,14770.025130,FEET,NaN,WILDCAT,OFFSHORE,Angola,BCO,BL0,00_KOKONGO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZINIA-511,NaN,NaN,17-0189,189,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL17,17_ZINIA
ZINIA-512,NaN,NaN,17-0254,254,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL17,17_ZINIA
ZINIA-521,NaN,NaN,17-0316,316,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL17,17_ZINIA
ZINIA-522,NaN,NaN,17-0317,317,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL17,17_ZINIA
ZINIA-523,NaN,NaN,17-0318,318,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL17,17_ZINIA

In [6]:
data.reset_index().set_index('UWI (Unique Well Identifier)', drop = True).sort_index()

,Well Name,Longitude,Latitude,Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field
UWI (Unique Well Identifier),,,,,,,,,,,,,,,,
00-0001,45-02,11.911463,-5.182242,1,CABGOC,NaT,NaT,670.560000,METERS,NaN,WILDCAT,OFFSHORE,Angola,BCO,BL0,00_BANZALA
00-0002,72-72,NaN,NaN,2,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_MALONGOWEST
00-0002-1,72-72ST1,NaN,NaN,2022-01-02 00:00:00,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_MALONGOWEST
00-0002-2,72-72ST2,NaN,NaN,2022-02-02 00:00:00,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_MALONGOWEST
00-0003,NUMBI-C07A,11.909918,-5.304124,3,CABGOC,NaT,1997-10-02,1469.102493,FEET,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL0,00_NUMBI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PROP_09-0024,CARAMBOLA-1,13.630000,-11.279444,24,ANGOLA CITIES SERVICE,NaT,NaT,13780.015290,FEET,NaN,NaN,OFFSHORE,Angola,BKW,BL9,09_BLOCK09_NOFIELD
PROP_09-0025,COCONOTE-1,13.550100,11.006600,25,ANGOLA CITIES SERVICE,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BKW,BL9,09_BLOCK09_NOFIELD
PROP_09-0028,JINGUENGA-1,13.641611,11.096472,28,ANGOLA CITIES SERVICE,NaT,NaT,3300.000000,METERS,NaN,NaN,OFFSHORE,Angola,BKW,BL9,09_BLOCK09_NOFIELD
PROP_17-0003,GIRASSOL-02,11.718540,-7.648758,3,ELF,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BBC,BL17,17_BLOCK17_NOFIELD
PROP_25-0004,LEOPARDO-1,NaN,NaN,4,AGIP,NaT,NaT,NaN,METERS,NaN,NaN,OFFSHORE,Angola,BBE,BL25,25_BLOCK25_NOFIELD

In [22]:
display(data[(data.Longitude < 0) | (data.Longitude > 15)])
data[data.Field == "32_GENGIBRE"]

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field,Profundidade em metros
Well Name,,,,,,,,,,,,,,,,,
TOMBUA-B02,-5.719628,11.491950,14-0169,169,CHEVRON,NaT,NaT,NaN,METERS,NaN,DEVELOPMENT,OFFSHORE,Angola,BCO,BL14,14_TOMBUA,NaN
HUNGO-137,-6.315775,11.056814,15-0121,121,ESSO,NaT,NaT,NaN,METERS,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL15,15_HUNGO,NaN
CLOCHAS-103,-6.486334,11.020544,15-0239,239,ESSO,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL15,15_CLOCHAS,NaN
AZUL-01,-10.984435,13.248868,23-0001,1,MAERSK,NaT,NaT,5367.0,NaN,NaN,WILDCAT,OFFSHORE,Angola,BKW,BL23,23_BLOCK23_NOFIELD,NaN

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field,Profundidade em metros
Well Name,,,,,,,,,,,,,,,,,
GENGIBRE-01,11.294365,-7.326548e+00,32-0004,4,TOTAL,NaT,NaT,NaN,METERS,NaN,WILDCAT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-02,11.288034,-7.309123e+00,32-0005,5,TOTAL,NaT,NaT,3332.0,METERS,NaN,APPRAISAL,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,3332.0
GENGIBRE-02ST1,11.288034,-7.309123e+00,32-0005-1,2022-01-05 00:00:00,TOTAL,NaT,NaT,3657.0,METERS,NaN,APPRAISAL,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,3657.0
GENGIBRE-02ST2,11.288034,-7.309123e+00,32-0005-2,2022-02-05 00:00:00,TOTAL,NaT,NaT,4342.0,METERS,NaN,APPRAISAL,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,4342.0
GENGIBRE-P11,NaN,NaN,32-0007,7,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-P11ST1,NaN,NaN,32-0007-1,2022-01-07 00:00:00,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-P04,NaN,NaN,32-0013,13,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-P05,NaN,NaN,32-0019,19,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-W02,NaN,NaN,32-0032,32,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-03,11.297421,-7.318450e+00,32-0037,37,TOTAL,NaT,NaT,NaN,NaN,NaN,APPRAISAL,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-P03,NaN,NaN,32-0042,42,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-W04,NaN,NaN,32-0049,49,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-W03,11.292136,-7.310519e+00,32-0052,52,TOTAL,NaT,2017-07-13,3981.0,METERS,DIRECTIONAL,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,3981.0
GENGIBRE-P01,NaN,NaN,32-0053,53,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-W01,NaN,NaN,32-0057,57,TOTAL,NaT,2018-05-16,4250.0,METERS,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,4250.0
GENGIBRE-W01ST1,11.292181,-7.310683e+00,32-0057-1,57-1,TOTAL,NaT,2018-06-11,3995.0,NaN,DIRECTIONAL,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-P02,4.209665,9.192236e+06,32-0061,61,TOTAL ANGOLA,NaT,NaT,3834.0,METERS,DIRECTIONAL,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,3834.0
GENGIBRE-W11,NaN,NaN,32-0068,68,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-W12B,NaN,NaN,32-0076,76,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN
GENGIBRE-P01B,NaN,NaN,32-0086,86,TOTAL,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL32,32_GENGIBRE,NaN

In [23]:
data.loc['GENGIBRE-P02',"Longitude"] = np.nan
data.loc['GENGIBRE-P02']

Longitude                                NaN
Latitude                           9192236.1
UWI (Unique Well Identifier)         32-0061
Well Number                               61
Operator                        TOTAL ANGOLA
Data de Abandono do Rig                  NaT
Data de perfuração                       NaT
Profundidade da perfuração            3834.0
Units                                 METERS
Well Type                        DIRECTIONAL
Initial Class                    DEVELOPMENT
Terrains                            OFFSHORE
Country                               Angola
Basin                                    BBC
Block                                   BL32
Field                            32_GENGIBRE
Profundidade em metros                3834.0
Name: GENGIBRE-P02, dtype: object

In [8]:
data.nunique(dropna=False)

Longitude                       2781
Latitude                        2784
UWI (Unique Well Identifier)    4260
Well Number                     1684
Operator                          42
Data de Abandono do Rig         1396
Data de perfuração              1916
Profundidade da perfuração      2237
Units                              3
Well Type                          3
Initial Class                      5
Terrains                           3
Country                            1
Basin                              4
Block                             64
Field                            186
dtype: int64

In [5]:
data = data.drop(columns='Country')
data.nunique()

Longitude                       2780
Latitude                        2783
UWI (Unique Well Identifier)    4260
Well Number                     1684
Operator                          42
Data de Abandono do Rig         1395
Data de perfuração              1915
Profundidade da perfuração      2236
Units                              2
Well Type                          2
Initial Class                      4
Terrains                           2
Basin                              4
Block                             64
Field                            185
dtype: int64

In [6]:
print_columns=["Units", "Well Type", "Initial Class", "Terrains", "Basin", "Block", "Field"]
for col in print_columns:
    print("\n")
    print(data[col].value_counts(dropna=False))

METERS    2188
FEET      1163
NaN        911
Name: Units, dtype: int64


NaN            3794
DIRECTIONAL     315
VERTICAL        153
Name: Well Type, dtype: int64


DEVELOPMENT           2731
WILDCAT               1009
APPRAISAL              394
STRATIGRAPHIC TEST      95
NaN                     33
Name: Initial Class, dtype: int64


OFFSHORE    3470
ONSHORE      791
NaN            1
Name: Terrains, dtype: int64


BBC    1915
BCO    1862
BKW     471
BBE      14
Name: Basin, dtype: int64


BL0        1460
KON         384
BL17        373
BL15        307
BL14        271
           ...
BL24_11       1
BL40_11       1
BL22          1
BL39_11       1
BL48          1
Name: Block, Length: 64, dtype: int64


00_TAKULA             265
KON_NOFIELD           211
00_BANZALA            140
00_BLOCK00_NOFIELD    120
00_NUMBI              119
                     ...
00_NSANGUI              1
03_IMPALA               1
40_BLOCK40_NOFIELD      1
00_LIVUITEGAS           1
39_BLOCK39_NOFIELD      1
Name: Field, Length: 186, dtype: int64

In [19]:
unit_dict = {"METERS":1, "FEET": 0.3048}

data['Units'].map(unit_dict)
data["Profundidade em metros"] = data['Units'].map(unit_dict)*data["Profundidade da perfuração"]
data[data["Profundidade em metros"]<10]
data[data["Profundidade da perfuração"]<10]

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Country,Basin,Block,Field,Profundidade em metros
Well Name,,,,,,,,,,,,,,,,,
MAVACOLA-107,11.093000,-6.433000,15-0299,299,ESSO,NaT,2014-01-01,1.00,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL15,15_MAVACOLA,NaN
LIRIO-455,11.529000,-7.429000,17-0065,65,TOTAL,NaT,2014-02-07,7.00,NaN,NaN,DEVELOPMENT,OFFSHORE,Angola,BBC,BL17,17_LIRIO,NaN
PAMPA-01,12.406111,-6.156333,CON-0157,157,PETRANGOL,1970-02-27,1970-02-20,5.93,METERS,NaN,WILDCAT,ONSHORE,Angola,BBC,CON,CON_NOFIELD,5.93
CORIMBA-01,13.136861,-8.874833,KON-0128,128,PETRANGOL,1969-05-04,1969-02-10,8.38,METERS,NaN,WILDCAT,ONSHORE,Angola,BKW,KON,KON_NOFIELD,8.38

In [20]:
bol_series=data["UWI (Unique Well Identifier)"].duplicated()
display(bol_series)
data["UWI (Unique Well Identifier)"][bol_series]

Well Name
45-02          False
72-72          False
72-72ST1       False
72-72ST2       False
NUMBI-C07A     False
               ...
CARAMBOLA-1    False
COCONOTE-1     False
JINGUENGA-1    False
GIRASSOL-02    False
LEOPARDO-1     False
Name: UWI (Unique Well Identifier), Length: 4262, dtype: bool

Well Name
LOMBOEAST-01STP      02-0079-1
ESTRELA-02A        OLD_02-0060
Name: UWI (Unique Well Identifier), dtype: object

In [19]:
data.loc[(data["UWI (Unique Well Identifier)"]=='02-0079-1') | (data["UWI (Unique Well Identifier)"]=='OLD_02-0060')]

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Basin,Block,Field
Well Name,,,,,,,,,,,,,,,
LOMBOEAST-01STH,12.3941,-6.859689,02-0079-1,79-2,TEXACO,2001-09-05,2001-08-14,9763.000,FEET,DIRECTIONAL,DEVELOPMENT,OFFSHORE,BBC,BL2,02_LOMBOEAST
LOMBOEAST-01STP,12.3941,-6.859689,02-0079-1,79-1,TEXACO,2001-09-05,2001-08-03,8965.000,FEET,DIRECTIONAL,DEVELOPMENT,OFFSHORE,BBC,BL2,02_LOMBOEAST
ESTRELA-02,NaN,NaN,OLD_02-0060,60,TEXACO,NaT,1991-09-28,2601.468,METERS,NaN,APPRAISAL,OFFSHORE,BBC,BL2,02_ESTRELA
ESTRELA-02A,NaN,NaN,OLD_02-0060,60,TEXACO,NaT,1991-09-30,2601.468,METERS,NaN,APPRAISAL,OFFSHORE,BBC,BL2,02_ESTRELA

In [28]:
data.loc[~((data['Terrains']=='ONSHORE') | (data['Terrains']=='OFFSHORE'))]

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Basin,Block,Field
Well Name,,,,,,,,,,,,,,,
KISSANJE-132ST1,NaN,NaN,15-0311-1,311-1,ESSO,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,NaN,BBC,BL15,15_KISSANJE

In [38]:
print(data['Block'].isnull().values.any())
print(data['Field'].isnull().sum())
data.loc[data['Field'].isnull()==True]

False
8

,Longitude,Latitude,UWI (Unique Well Identifier),Well Number,Operator,Data de Abandono do Rig,Data de perfuração,Profundidade da perfuração,Units,Well Type,Initial Class,Terrains,Basin,Block,Field
Well Name,,,,,,,,,,,,,,,
84-71,NaN,NaN,00-0030,30,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,BCO,BL0,NaN
CRX-01SUL,NaN,NaN,00-0977,977,CHEVRON,NaT,NaT,NaN,NaN,NaN,NaN,OFFSHORE,BCO,BL0,NaN
CRX-01NORTE,NaN,NaN,00-0979,979,CHEVRON,NaT,NaT,NaN,NaN,NaN,NaN,OFFSHORE,BCO,BL0,NaN
LIANZI-02ST1,11.197565,-5.537792,14K-0003-1,2022-01-03 00:00:00,CHEVRON,NaT,2005-07-09,11466.0,FEET,NaN,APPRAISAL,OFFSHORE,BCO,14K_AIMI,NaN
LI02,11.205183,-5.529650,14K-0008,8,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,BCO,14K_AIMI,NaN
LI03,NaN,NaN,14K-0009,9,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,BCO,14K_AIMI,NaN
LI01,NaN,NaN,14K-0010,10,CHEVRON,NaT,NaT,NaN,NaN,NaN,DEVELOPMENT,OFFSHORE,BCO,14K_AIMI,NaN
ONDJABA-01,NaN,NaN,48-0001,1,TOTAL,NaT,NaT,NaN,NaN,NaN,WILDCAT,OFFSHORE,BBC,BL48,NaN